{% extends "layout2.html" %}
{% block body %}

<div class = "container-fluid">
    <img src = "https://wcms-prod-admin.ntu.edu.sg/images/default-source/from-figma/ntu-placeholder-d.jpg?sfvrsn=d4050a9e_2"
    class = "rounded float-start ml-2" style="max-width:50%;">
</div>
<div class = "container ml-3 pt-4">
    <h4> Today's Confessions:  </h4>
    {% for key, value in postinfo.items() %}
    <div class="card border - secondary mb-3" style="max-width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">{{value.get("Title")}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{value.get("Likes")}} Likes</h6>
            <p class="card-text">{{value.get("Text")}}</p>
            {% if value.get("Liked") == 0 %}
            <form action = "" method = post>
                <input type="hidden" name="id" value={{key}}>
                <input type="hidden" name="category" value='post'>
                <input class="btn btn-default" type="submit" value="Like Post">
            </form>
            {% endif %}
            {% if value.get("Liked") == 1 %}
                <h6 class="card-subtitle mb-2 text-muted">Liked </h6>
            {% endif %}
            {% if value.get("Redressal")|length %}
                <div class="alert alert-danger" role="alert">
                    The authority responded - check it out!
                </div>
                <h5 class="card-title">Redressal:</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{value.get("R_likes")}} Likes</h6>
                <p class="card-text">{{value.get("Redressal")}}</p>
                {% if value.get("R_likedbyme") == 0 %}
                <form action = "" method = post>
                    <input type="hidden" name="id" value={{key}}>
                    <input type="hidden" name="category" value='redressal'>
                    <input class="btn btn-default" type="submit" value="Like Redressal">
                </form>
                {% endif %}
                {% if value.get("R_likedbyme") == 1 %}
                    <h6 class="card-subtitle mb-2 text-muted">Liked </h6>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <a class="btn btn-primary" href="/add/{{username}}" role="button">Add Confession</a>
</div>

{% endblock %}


