{% extends "layout.html" %}
{% block body %}

<div class = "container-fluid">
    <img src = "https://wcms-prod-admin.ntu.edu.sg/images/default-source/from-figma/ntu-placeholder-d.jpg?sfvrsn=d4050a9e_2"
    class = "rounded float-start ml-2" style="max-width:50%;">
</div>
<div class = "container ml-3 pt-4">
    <h4> Welcome to NTU's secure and anonymous confession site! </h4>
    <h6> Login to begin: </h6>
        <ul>
            <li><a href=/register> I am a New User! </a></li>
            <li><a href=/login> I am an Existing User! </a></li>
        </ul>
</div>

{% endblock %}



