{% extends "layout.html" %}
{% block body %}

<div class = "container-fluid">
    <img src = "https://wcms-prod-admin.ntu.edu.sg/images/default-source/from-figma/ntu-placeholder-d.jpg?sfvrsn=d4050a9e_2"
    class = "rounded float-start ml-2" style="max-width:50%;">
</div>
<div class="container ml-3 pt-4">
    <h3>Register Here: </h3>
    <form action = "" method = post>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" id="inputEmail" placeholder="email@example.com" name = "username" value = {{request.form.username}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" name = "pw1" value = {{request.form.pw1}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password (Again) </label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" name = "pw2" value = {{request.form.pw2}}>
        </div>
      </div>
      <input class="btn btn-default" type="submit" value="Register">
    </form>
    {% if error %}
      <p class="error"><strong>Alert:</strong> {{ error }}
    {% endif %}
  </div>

{% endblock %}


